html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: lightgrey;
    border: none;
    border-radius: 10px;
    padding: 1em;
    cursor: pointer;
}

.container {
    height: 70vh;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid grey;
}

.container > div {
    height: 6.25%;
    aspect-ratio: 1;
    box-sizing: border-box;
    border: 1px solid lightgrey;
}

.hovered {
    background-color: black;
}